*{
    margin: 0;
    padding: 0;
}

.container {
    width: 1150px;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.menu ul li {
    display: inline;
    margin-right: 30px;
    font-size: 20px;
}

/* Start Hero */

.hero {
    display: flex;
    justify-content:space-around;
    margin-top: 125px;
}

.hero-text{
    width: 450px;
}

.hero-text h1 {
    font-size: 44px;
    font-weight: 400;
}

.hero-text p {
    font-size: 16px;
}

.hero-text h1, .hero-text p {
    margin-bottom: 35px;
}

.hero-text button {
    background-color: #FF6464;
    border: none;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    color: #FFFFFF;
}

/* start post */
.post {
    background-color: #EDF7FA;
    padding: 15px 110px;
    margin-top: 50px;
}

.post-recent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.post-recent h3 {
    font-size: 22px;
    font-weight: 300;
}

.post-recent a {
    color: #00A8CC;
    text-decoration: none;
}

.post-content {
    display: flex;
    gap: 20px;
}

.post-content-detail {
    background-color: #FFFFFF;
    padding: 20px 15px;
}

.post-content-detail h2{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}

.post-content-detail label, .post-content-detail p {
    font-size: 18px;
    margin-top: 15px;
}

/* start work */

.work {
    padding: 15px 110px;
    margin-top: 5px;
}

.work-featured {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

}
.work-featured h3 {
    font-size: 22px;
    font-weight: 200px
    ;
}

.work-content {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.work-content button {
    background-color: #102d46;
    border: none;
    padding: 5px;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 5px;
}

.work-content-detail h2 {
    font: 300;
    font-size: 22;
    padding-bottom: 5px;
}

.work-content-detail label, .work-content-detail p {
    padding-top: 10px;

}

/* start footer */
.footer {
    margin-top: 15px;
}

.footer-image, .footer-text {
    display: flex;
    justify-content:center;
    gap: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-image {
        display: flex;
        justify-content: center;
    }

    .hero-text {
        text-align: center;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }
    .hero-text p {
        text-align: justify;
    }

    .post {
        padding: 15px 15px;
    }

    .post-content {
        display: flex;
        flex-direction: column;
    }
    .post-content p {
        text-align: justify;
    }
    
    .work {
        padding: 15px 15px;
    }
    .work-content {
        display: flex;
        flex-direction: column;
    }
    .work-content-detail p {
        text-align: justify;
    }
}